/* --- IMAGEN Y BADGES --- */
.image-container {
    position: relative; 
    width: 100%;
    height: var(--product-image-height);
    background-color: #fff; 
    border-radius: var(--radius-md);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    margin-bottom: 12px;
  }
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  @media (max-width: 600px) {
    /* 4. Contenedor de Imagen */
    .image-container {
      height: 120px;
      padding: var(--spacing-xs);
      margin-bottom: 5px;
    }

    .product-image {
      object-fit: contain;
      height: 100%;
    }
  }