/* === ESTADO DE TARJETA AGOTADA === */
.card-disabled {
    opacity: 0.8; /* Se ve un poco más transparente */
    filter: grayscale(0.4); /* Apaga un poco los colores */
  }
  
  .card-disabled:hover {
    transform: none; /* Evitamos que salte si está agotado */
    border-color: var(--border-color); /* No se ilumina el borde */
    box-shadow: none;
  }
  
  .card-disabled .image-container {
    background-color: #f8fafc; /* Fondo más frío para imagen agotada */
  }
  